* {
    padding: 0;
    margin: 0;
}

body {
    background: #252422;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 250px;
    border: 15px solid #f2f0d8;
    box-shadow: 0 5px 30px 0 #f2f0d8;
    border-radius: 30px;
    
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color: #f24b4b;
    transition: .5s;
}

@media (max-width: 812px) {
    #time {
        width: 400px;
        height: 200px;
        font-size: 60px;
        transition: .5s;
    }
}

@media (max-width: 412px) {
    #time {
        width: 300px;
        height: 150px;
        font-size: 40px;
        transition: .5s;
    }
}